

header {
  background: url("https://cdn.glitch.com/bd4326cc-185c-4bbe-bec9-d9670cfc1e56%2Fhero-01.png?v=1601964252174");
  background-repeat: no-repeat;
  background-size: cover;
}

.nav > a {
  margin-right: 1em;
  color: white;
  font-size: 0.9em;
}

h6 {
  color: white;
  font-size: 1.4em;
  font-weight: bold;
}

.pen {
  filter: brightness(500%);
  margin-left: -8px;
  margin-right: -8px;
}

.pen2 {
  margin-left: -8px;
  margin-right: -8px;
}

p {
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: -0.7em;
}

.cont {
  position: relative;
  

}

.six {
  position: relative;
  height: 100%;
  width: 100em;
  margin-left: auto;
  margin-right: auto;
}

.pen3 {
  position: absolute;
  top: 0;
  left:0;
  z-index:1;
  bottom:0;
  right:0;
  height:100%;
  text-align: center;
}

.white {
  color: white;
  border: 2px solid white;
}

.ipsum {
  color: white;
  font-size: 0.9em;
  font-weight: normal;
}