html {
  scroll-behavior: smooth;
}

.header {
  background: url("https://cdn.glitch.com/bd4326cc-185c-4bbe-bec9-d9670cfc1e56%2Fhero-01.png?v=1601964252174");
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
}

.nav > a {
  margin-right: 1em;
  color: white;
  font-size: 0.9em;
}

h6 {
  color: white;
  font-size: 2em;
  font-weight: bold;
}

.pen {
  filter: brightness(500%);
  margin-left: -8px;
  margin-right: -8px;
}

.pen2 {
  margin-left: -8px;
  margin-right: -8px;
}

.arrow {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: -0.7em;
}

.cont {
  position: relative;
}

.six {
  position: relative;
  height: 100%;
  width: 6.5em;
  margin-left: auto;
  margin-right: auto;
}

.pen3 {
  position: absolute;
  top: 0;
  left:0;
  z-index:1;
  bottom:0;
  right:0;
  height:100%;
  text-align: center;
  padding-top: 0.7em;
}

.white {
  color: white;
}

.borderwhite {
  border: 2px solid white;
}

.ipsum {
  color: white;
  font-size: 0.9em;
  font-weight: normal;
}

.mbn-08 {
  margin-bottom: -0.8em;
}

#mouse2 {
  filter: invert(100%);
}

.whitebg {
  background: url(https://cdn.glitch.com/bd4326cc-185c-4bbe-bec9-d9670cfc1e56%2FLayer%202.png?v=1602142928451);
  background-size: cover;
}

h3 {
  margin-top: 2em;
  font-size: 1.5em;
  font-weight: bold;
}

.h3b {
  color: #2b8ac2;
}

.h3w {
  color: white;
}

.graysmall {
  color: gray;
  margin-top: 1em;
  font-size: 0.8em;
}

.services {
  width: 200px;
  margin-left: 7em;
  margin-right: 7em;
  margin-bottom: 1em;
  color: gray;
}

.services > img {
  filter: invert(50%);
  width: 30%;
  margin-bottom: 0.5em;
}

.portbg {
  background: url(https://cdn.glitch.com/bd4326cc-185c-4bbe-bec9-d9670cfc1e56%2Fportbg.png?v=1602148853162);
  background-size: cover;
}

.port > div > img {
  width: 20em;
}

.p2 {
  position: relative;
  display: block;
}

.plus {
    left: 50%;
    top: 45%;
    position: absolute;
    transform: translate(-50%,-50%);
}

.plusimg {
  width: 15%;
}

.teamsimg {
  width: 15em;
  margin: 3em 1em -0.9em 1em;
  border-radius: 0.2em;
}

.teamsocials1 {
  position: relative;
}

.teamsocials2 {
  position: absolute;
  left: 14.5%;
  top: 35%;
}

.teamnames {
  font-size: 1em;
  margin-bottom: -0.5em;
}

.officesbg {
  background: url(https://cdn.glitch.com/bd4326cc-185c-4bbe-bec9-d9670cfc1e56%2Fbg3.png?v=1602859709977);
  background-size: cover;
}

.officesfont {
  font-size: 0.8em;
  color: white;
}

.atlas {
  position: relative;
  margin-top: 3em;
}

.usa {
  position: absolute;
  top: 36.5%;
  left: 20%;
}

.france {
  position: absolute;
  top: 27.5%;
  left: 46%;
}

.egypt {
  position: absolute;
  top: 41%;
  left: 52%;
}

.marker {
  width: 2em;
}

h4 {
  float: right;
  font-size: 0.8em;
  font-weight: bold;
  padding-top: 0.6em;
}